*{
	margin: 0;position: 0;list-style:none;
}
body{
	background:#1B1B1B
}
img{ border:0; cursor:pointer;}
.tp{
	width: 1002px;height: 500px;overflow: hidden;margin: 20px auto;
	position: relative;}
.tp img{
	background-size:cover;}
.tp:hover li{
	background: #000;
	transition:all 0.2s;
}
.tp:hover img{
	opacity: 0.2;
	transition:all 0.2s;}
.tp li:hover img{
	opacity: 1;
	transition:all 0.2s;}
.tp1,.tp1 img{ width:667px; height:332px;}
.tp1{position:absolute; left:0; top:0;}
.tp2,.tp2 img{ width:333px; height:165px;}
.tp2{position:absolute; left:0; bottom:0;}
.tp3,.tp3 img{ width:165px; height:165px;}
.tp3{position:absolute; left:335px; bottom:0;}
.tp4,.tp4 img{ width:165px; height:165px;}
.tp4{position:absolute; left:503px; bottom:0;}
.tp5,.tp5 img{ width:332px; height:165px;}
.tp5{position:absolute; right:0; top:0;}
.tp6,.tp6 img{ width:332px; height:332px;}
.tp6{position:absolute; right:0; bottom:0;}